.dash {
  width: 100%;
  display: flex;
}

.sideBar {
  width: 20%;
  min-height: 90vh;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-right: 1px solid darkgray;
  z-index: 10;
}

.sideBar strong {
  font-size: 2rem;
}

.sideBar div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sideBar a {
  display: flex;
  align-items: center;
  color: rgb(111, 111, 111);
  gap: 0.5rem;
}

.main {
  width: 85%;
  padding: 2.5vh 2.5%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: space-around; */
}

.main_top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.main_top .box {
  width: 315px;
  padding: 15px;
  height: 165px;
  border-radius: 20px;
  background: white;
}

#side_tag {
  display: none;
}

.main_top .box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main_top .box .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_top .box .up i {
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 10px;
}

.main_top .box strong {
  font-weight: 400;
  font-size: 2rem;
}

.service_box {
  width: 330px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 15px;
  border-radius: 10px;
}

.service_box p {
  padding: 6px 0;
  width: 100%;
  border-bottom: 1px dotted black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service_box p span {
  display: flex;
  align-items: center;
}

.service_box p small {
  font-size: 1rem;
}


.main hr {
  width: 100%;
  border-top: 2px dotted darkgray;
}

.main_low {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.chart_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  position: relative;
}

.chart_box #myChart {
  height: 100%;
  width: 100%;
}

.legend {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.legend span p {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.legend span {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

@media all and (max-width:1300px) {
  .sideBar {
    position: fixed;
    width: 300px;
    left: -300px;
    transition: 0.5s ease;
    cursor: pointer;
    border: none;
  }

  .sideBar.change {
    left: 0;
  }

  #side_tag {
    display: flex;
    position: absolute;
    left: 100%;
    top: 0;
    background: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 40px;
  }

  .main {
    width: 100%;
  }
}

@media all and (max-width:1000px) {
  .chart_box {
    width: 300px;
    height: 300px;
  }
}

@media all and (max-width:400px) {
  .main_top .box {
    width: 80%;
  }

  .chart_box {
    width: 230px;
    height: 230px;
  }

  .service_box {
    width: 80%;
  }

  .sideBar {
    width: 200px;
    left: -200px;
  }
}